@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form id="newClient" action = "/new/client" method="post">
         <label for='name'>Enter Client Name: </label>
         <input id='name' name='name' type='text'>
         <input type="hidden" name="stylistId" value="@Model.GetId()">
         <button type="submit" class="btn">Add Client</button>
       </form>
      <button type="button" class="btn"><a href="/">Home</a></button>
      <button type="button" class="btn"><a href="/stylists">All Stylists</a></button>
    </div>
  </div>
</div>
